*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



:root{
    --black: #000;
}

header{
    width: 100%;
    height: 120px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#header-text{
    text-align: center;
    margin-top: 20px;
}

